.EightBall {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.EightBall-msg {
    padding: 50px 5px;
}